<!-- wp:template-part {"slug":"header","theme":"minami","area":"header"} /-->

<!-- wp:template-part {"slug":"banner-slider","theme":"minami","area":"general"} /-->

<!-- wp:template-part {"slug":"event-tabs","theme":"minami","area":"general"} /-->

<!-- wp:template-part {"slug":"activities-section","theme":"minami","area":"general"} /-->

<!-- wp:template-part {"slug":"clients-slider","theme":"minami","area":"general"} /-->

<!-- wp:template-part {"slug":"footer","theme":"minami","area":"footer","className":"minami-footer"} /-->
